img {
  --f: 0.1; /* the parallax factor (the smaller the better) */
  --r: 2rem; /* radius */

  --_f: calc(100% * var(--f) / (1 + var(--f)));
  --_a: calc(90deg * var(--f));
  aspect-ratio: calc(1 + var(--f));
  clip-path: inset(0 var(--_f) 0 0 round var(--r));
  transform: perspective(400px) var(--_t, rotateY(var(--_a)));
  transition: 0.5s;
  cursor: pointer;
}
img:hover {
  clip-path: inset(0 0 0 var(--_f) round var(--r));
  --_t: translateX(calc(-1 * var(--_f))) rotateY(calc(-1 * var(--_a)));
}

body {
  background-image: url("./assets/backgroundlight.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Mise en page des images */
.img3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;
  padding-left: 1.8rem;
}

img {
  width: 18rem;
  height: 28rem;
  padding-left: 1.8rem;
  border-radius: 5rem;
}

.characters {
  display: flex;
}

.character-card {
  text-align: center;
}

/* Styles pour les noms des personnages */

h2 {
  text-align: center;
  color: antiquewhite;
  font-size: 3.6rem;
  margin-top: 18rem;
}
