img {
  --f: 0.1; /* the parallax factor (the smaller the better) */
  --r: 4rem; /* radius */

  --_f: calc(100% * var(--f) / (1 + var(--f)));
  --_a: calc(90deg * var(--f));
  aspect-ratio: calc(1 + var(--f));
  clip-path: inset(0 var(--_f) 0 0 round var(--r));
  transform: perspective(400px) var(--_t, rotateY(var(--_a)));
  transition: 0.5s;
  cursor: pointer;
}
img:hover {
  clip-path: inset(0 0 0 var(--_f) round var(--r));
  --_t: translateX(calc(-1 * var(--_f))) rotateY(calc(-1 * var(--_a)));
}

body {
  background-image: url("/backgroundlight.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Mise en page des images */
.img3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;
  padding:10rem;
  
}

img {
  width: 16rem;
  height: 28rem;
  padding:2rem;
  margin:3rem;
  border-radius: 5rem;
}

.youare {
  text-align: center;
  color: rgb(246, 246, 246);
  padding-top:0.5rem;
  
}

 .bvalidate >.bvalidate1 {
  background-color: #2d2df4;
  font-size: 1.2rem;
  width: 5rem;
  color: rgb(246, 246, 246);
  border-radius: 0.8rem;  
 }

 
.input-name {
  border: 0.2rem solid #76b3f4; 
  border-radius: 0.8rem;  
  font-size:1.5rem; 
  width: 5rem; 
  outline: none; 
  color:  #0576f0;
}
